<h2>{{post.title}}</h2>
{{editor-with-preview input=post.markdown_preview preview=post.body_preview generatePreview='generatePreview'}}
<button {{action 'save'}} class="save">Save</button>
<button {{action 'cancel'}} class="cancel">Cancel</button>